.block-clear {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  background: none;
}

.type-clear {
  line-height: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  background: none;
}

//h1.clear, h2.clear, h3.clear, h4.clear, h5.clear, h6.clear
