/* Colors */
$table-blue: rgb(60, 120, 216);
$table-red: rgb(204,0,0);

/* Sizes for margins, paddings, and none textural spacing. */
$size-xxxs: 4px;
$size-xxs: 8px;
$size-xs: 16px;
$size-s: 24px;
$size-m: 32px;
$size-l: 40px;
$size-xl: 48px;
$size-xxl: 56px;
$size-xxxl: 64px;
