/* Sizes for margins, paddings, and none textural spacing. */
$size-xxxs: 4px;
$size-xxs: 8px;
$size-xs: 16px;
$size-s: 24px;
$size-m: 32px;
$size-l: 40px;
$size-xl: 48px;
$size-xxl: 56px;
$size-xxxl: 64px;

.ev-table {
  background: white;
  &__head {
    font-weight: bold;
  }

  &__column {
    border-bottom: 2px solid #333;
    padding: $size-xxxs;
    vertical-align: bottom;
    width: 60px;
    max-width: 60px;

    &--first {
      width: 48px;
      max-width: 48px;
    }
  }

  &__session-row {
    & > td {
      border-bottom: 1px solid #555;
      padding: 4px;
      border-right: 1px solid #555;
      position: relative;
    }

    & > td:last-child {
      border-right: none;
    }
  }

  &__session-cell {
    text-align: right;
  }

  //.remove-
}
