@import 'src/app/styles/global';

.ev-header {
  border-bottom: 1px solid #000000;
  height: $size-xxl;
  width: 100%;

  @include tablet-up {
    height: $size-xl;
  }

  @include desktop-up {
    height: $size-xl;
  }

  &__content {
    height: 100%;
    padding: 0 $size-xs;
    display: flex;
    justify-content: space-between;

    @include tablet-up {
      padding: 0 $size-m;
    }

    @include desktop-up {
      padding: 0 $size-l;
    }
  }

  &__title-menu {
      height: 100%;
      display: flex;
      justify-content: flex-start;
  }

  &__title {
    margin-right: $size-l;
  }

  &__app-name {
    height: 100%;
  }

  &__nav {
    height: 100%;
    display: none;

    @include desktop-up {
      display: initial;
    }
  }

  &__nav-items {
    height: 100%;
    display: flex;
    justify-content: flex-start;
  }
}
