@import 'src/app/styles/global';

// site-flex body stretch
.ev-app-page {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header-footer {
    flex: 0 0 auto;
  }

  &__body {
    flex: 1 1 auto;
  }

}
