@import 'src/app/styles/global';

.ev-home {
  margin-top: $size-s;
  margin-bottom: $size-xxl;

  @include tablet-up {
    margin-top: $size-m;
  }

  @include desktop-up {
    margin-top: $size-xl;
  }
}

.session-table {
  background: white;
  &__head {
    font-weight: bold;
  }

  &__column {
    border-bottom: 2px solid #333;
    padding: $size-xxxs;
    vertical-align: bottom;
    width: 60px;
    max-width: 60px;

    &--first {
      width: 48px;
      max-width: 48px;
    }
  }

  &__session-row {
    & > td {
      border-bottom: 1px solid #555;
      padding: 4px;
      border-right: 1px solid #555;
      position: relative;
    }

    & > td:last-child {
      border-right: none;
    }
  }

  &__session-cell {
    text-align: right;
  }
}
