* {
  box-sizing: border-box;
}

.session-table {
  &__head {
    font-weight: bold;

    & > td {
      border-bottom: 2px solid #333;
      max-width: 75px;
      padding: 4px 20px 4px 4px;
      vertical-align: top;
    }

    & > td:first-child {
      max-width: 85px;
    }
  }

  &__session-row {
    & > td {
      border-bottom: 1px solid #555;
      padding: 4px;
      border-right: 1px solid #555;
      position: relative;
    }

    & > td:last-child {
      border-right: none;
    }
  }

  &__session-cell {
    text-align: right;
    padding: 30px;

    &--high {
      border: 2px solid #22c;
    }
  }

  &__effiency {
    bottom: 0;
    color: #333;
    font-size: 12px;
    padding: 0 4px 4px 0;
    position: absolute;
    right: 0;
  }
}
